*{
    background: #a6a6a6;
    max-width: 1000px;
}

.what{
    position: absolute;
    width: 350px;
    height: 140px;
    left: 100px;
    top: 80px;
    
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 1000;
    font-size: 50px;
    line-height: 50px;
    /* or 171% */
    
    
    color:white ;
    background: #a6a6a6;
    
    }

    #email{
        margin: 140px 500px;
        background-color: white;
        width: 300px;
        height: 35px;
        border-color: white;
    }

    .l1{
        position: absolute;
        
        left: 510px;
        top: 135px;
        
        font-family: Fira Sans;
        font-style: normal;
        font-weight: 1000;
        font-size: 16px;
        
        
        color: white;

    }

    .l2{


        position: absolute;
        
        left: 510px;
        top: 250px;
        
        font-family: Fira Sans;
        font-style: normal;
        font-weight: 1000;
        font-size: 16px;
        
        
        color: white;

    }


    
    #comment{
        margin: -80px 500px;
        
        position: absolute;
        background-color: white;
        
        border-color: white;
    }


    .btn1{
        position: absolute;
    width: 131px;
    height: 39px;
    left: 690px;
    top: 480px;
    
    background: #FFFFFF;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
    border-radius: 100px;
    border-color: #FFFFFF;
    }
    
    .l3{
     
    
    font-family: Arial black;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
    
    
    color: rgba(0, 0, 0, 0.8);
    background-color: white;
    }


    