*{
    background: #E5E5E5;
    max-width: 1000px;
}

/*header-----------*/
.blue{
position: absolute;
width: 1002px;
height: 340px;
left: 219px;
top: 0px;
background: #C7DDEA;
}
    

h1{
position: absolute;
width: 314px;
height: 101px;
left: 563px;
top: 171px;
font-family: Frank Ruhl Libre;
font-style: normal;
font-weight: 900;
font-size: 45px;
line-height: 100%;
/* or 45px */
letter-spacing: -0.02em;
color: #000000;
background-color: #C7DDEA;
}


img{
    position: absolute;
    width: 180px;
    height: 290px;
    top: 50px;
    margin-left: 920px;
    background:url(Frame.ong) ;
    }


    li{  
        padding:22px 90px ;
        background-color: white;
        align-items: center;
        text-align: center;
        letter-spacing: -0.02em;  
        display: inline-block; 
        color: rgb(102, 100, 100);
    }

    ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        background-color: white;
        width: 1002px;
        height: 68px;
        left: 219px;
        top: 340px;
        position: absolute;
    }
 
    ul li a{
        text-decoration: none;
        background-color: white;
        color:gray; 
    }

     /*finish header--------*/

     /*main------*/

     .main1{
         background-color:#a6a6a6;
         position: absolute;
width: 1002px;
height: 600px;
left: 219px;
top: 400px;
        
         
     }

     .what{
        position: absolute;
        width: 350px;
        height: 140px;
        left: 100px;
        top: 80px;
        
        font-family: Fira Sans;
        font-style: normal;
        font-weight: 1000;
        font-size: 50px;
        line-height: 50px;
        /* or 171% */
        
        
        color:white ;
        background: #a6a6a6;
        
        }
    
        #email{
            margin: 140px 500px;
            background-color: white;
            width: 300px;
            height: 35px;
            border-color: white;
            
        }
    
        .l1{
            position: absolute;
            
            left: 510px;
            top: 135px;
            
            font-family: Fira Sans;
            font-style: normal;
            font-weight: 1000;
            font-size: 16px;
            
            
            color: white;
            background: #a6a6a6;
    
        }
    
        .l2{
    
    
            position: absolute;
            
            left: 510px;
            top: 250px;
            
            font-family: Fira Sans;
            font-style: normal;
            font-weight: 1000;
            font-size: 16px;
            
            
            color: white;
            background: #a6a6a6;
    
        }
    
    
        
        #comment{
            margin: -80px 500px;
            
            position: absolute;
            background-color: white;
            
            border-color: white;
        }
    
    
        .btn1{
            position: absolute;
        width: 131px;
        height: 39px;
        left: 690px;
        top: 480px;
        
        background: #FFFFFF;
        box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
        border-radius: 100px;
        border-color: #FFFFFF;
        }
        
        .l3{
         
        
        font-family: Arial black;
        font-style: normal;
        font-weight: bold;
        font-size: 10px;
        line-height: 12px;
        
        
        color: rgba(0, 0, 0, 0.8);
        background-color: white;
        }


     /*finish main--------*/




 /*footer------*/
     
section.map{
    display: flex;
    justify-content: center;
    background-image: url(img/map.png);
    margin-top: 1000px;
    margin-left: 211px;
    width: 1002px;
    height: 600px;
     }
.box{  
    border-radius: 16px;
    margin: 200px auto auto 200px;
    background-color: #FAB131;
}
h{
    font-family:'Frank Ruhl Libre', serif;
    font-style: normal;
    font-size:45px;
    
    background-color: #FAB131;
    color: #FFFFFF;
    margin: 40px 50px auto 50px;
}
p{
    font-family:'Fira Sans';
    font-style: normal;
    font-size:14px;
    line-height: 24px 143%;   
    background-color: #FAB131;
    color:rgba(255, 255, 255, 0.8);
    margin: 20px auto 100px 50px;
}
span.material-icons{
    margin: 310px 200px auto auto;
    color:#F17949;
    font-size: 60px;
    background-image: url(img/map.png);
}
.none{
    background-color: #777574;
    display: flex;
    justify-content: center;
    margin-left: 211px;
    width: 1002px;
    height: 200px;
}

   


/*finish footer-------*/



    
        
        